
{% load staticfiles %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<head>
	<title></title>
</head>

<body class="lo">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css ' %}">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="{% url 'home'%}">Shopify</a>
		
		<div class="" id="navbarNav">
			<ul class="navbar-nav">
				
					<a class="nav-link" href="{% url 'agregarCategoria'%}">AgregarCategorias</a>
				</li>
				
				
			</ul>
		</div>
	</nav>


	
	<div class=""> 
	<table class="table table-primary " id="hol">
					<thead class="">
						<tr>
							<tr class="">
								<th scope="col">No.</th>
								<th scope="col">Nombre</th>
								<th scope="col">Fecha de Creacion</th>
								<th scope="row" colspan="2">Aciones</th>
								

							</tr>
						</tr>
					</thead>
					<tbody>
						{% for categoria in categorias %}
						<tr>
							<th scope="row">{{categoria.id}}</th>
							<th scope="row">{{categoria.categoria}}</th>
							<th scope="row">{{categoria.fechaCreacion}}</th>
							<th><a href="{% url 'editarCategoria' categoria.id%}">editar</a></th>
							<th><a href="{% url 'eliminarCategoria' categoria.id %}">eliminar</a></th>
							
						</tr>

						{% empty %}
						<tr>
							<th scope="row">no hay categorias</th>

						</tr>
						{% endfor %}
					</tbody>
				</table>


		<!--<ul class="list-group " >
					<li class="list-group-item active bg-secondary">Categorias</li>

				{% for categoria in categorias %}
					<li class="list-group-item">{{categoria.categoria}}</li>
					{% empty %}
					<li class="list-group-item">No hay categorias</li>
					{% endfor %}
				</ul>-->

	</div>

</body>
</html>